* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#header {
    font-size: 30px;
    display:flex;
    align-items: left;
padding: 10px;
margin: 10px;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.book-card {
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 10px;
    background: none;
    border: 2px solid #ffffff;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
body {
    height: 100vh;
    text-align: center;
    background: black;
    color: white;
}

legend {
    text-align: center;
    font-size: 50px;
}

dialog {
    background: black ;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

fieldset {
    text-align: left;
    font-size: 25px;
    padding: 20px;
    margin: 10px;
    border: 2px none;
    border-radius: 10px;
    line-height: 50px;

}

.status input[type="checkbox"] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.input-box input {
    width: 100%;
    height: 30px;
    display: block;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;

}

.btn {
    width: 50%;
    padding: 20px;
    margin: 10px;
    background: none;
    border: 2px solid #ffffff;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: none;
    align-items: center;
    cursor: pointer
}

.btn#new {
    width: auto;
    display: flex;
    flex-direction: column;
    }

#book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    gap: 25px;
}